<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Coupon Index</title>
</head>
<body>
    <h1>These are all the coupons</h1>
    <%= link_to "New Coupon", new_coupon_path %>
    <% @coupons.each do |coupon| %>
        <div>
            <h2>
                <%= link_to "#{coupon.coupon_code}: #{coupon.store}", coupon_path(coupon) %>
                </h2>
        </div>
    <% end %>
</body>
</html>